.fixed-btn {
    background: #2ecc71;
    font-size: 80px;
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 140px;
    height: 140px;
    border-radius: 5%;
    border: 5px solid black;
    line-height: 0px;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body {
    background: #16a085;

}
.cards {
    width: 30%;
    margin: auto;
    margin-top: 4%;
    background: #03A9F4;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #000;
    text-align: center;
}
.image img {
    width: 100%; 
    border-radius: 15px;
}
.icon {
    margin-top: -80px;
    margin-left: auto;
    width: 140px;
}
.title {
    text-align: center;
    font-size: 30px;
}
.des {
    text-align: center;
    padding: 4px;
}

